# Temporary files
data/temp/*
.gitignore~
.DS_Store
*~
plotly*
core*

# R files
.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rmd
*.rds

# Data files
*.doc*
*key
*.html
*sv
data/processed/*

# Log files
*log
*out
