# Temporary files
data/temp/*
.gitignore~
.DS_Store
*~
plotly*
core*
*.txt_*
*tab
*info
*swp
*swo
_archive_/*
.*

# R files
.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rmd
*.rds
bin/*.R

# Data files
*.doc*
*key
*.html
*sv
data/processed/*
data/raw/ukb_SNP_ID_WES_chrALL.txt
*png
*xls*
*pptx
*pdf

# Log files
*log
*out
logs/*
