# Temporary files
data/temp/*
.gitignore~
.DS_Store
*~
plotly*
core*
*.txt_*

# R files
.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rmd
*.rds

# Data files
*.doc*
*key
*.html
*sv
data/processed/*
data/raw/ukb_SNP_ID_WES_chrALL.txt

# Log files
*log
*out
logs/*
